

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 
    
}


.header__logo{
    height:  80px;

    object-fit: contain;
    margin-left: 20px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__middle{
    display: flex;
    align-items: center;
    width: 40%;
  border: 1px solid lightgray;
  border-radius: 5px;
}


.header__middle > input{
    flex: 1;
    border: none;
  
}

.header__middle > input:focus{
    outline: none;
}

.input__search{
    width: 10% !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    padding: 5px;
}



.header__right{
    display: flex;
    align-items: center;
}


.header__icon{
    margin-right: 8px;
}