

.recommended{
    flex: 0.8;
    background-color: #f9f9f9;

overflow: auto;
    padding-top: 30px;
    padding-left: 5px;
 
 

}

.recommended > h2{
   
    text-align: center;
    margin-bottom: 20px;
}


.recommended__videos{
    display: flex;
justify-content: center;
    flex-wrap: wrap;
   
}